 * {
    background-color: white;
    margin: 0;
    padding: 0;
}
 
 .body{
    margin: 0;
    padding: 0;
    background-color: blue;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
  }
 
  .icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
    background-color: #3C79F5;
    color: white;
    background-color: transparent;
  }
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  
  .close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .grid-container {
    display: grid;
   
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  /* Header  */
  .header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0 15px;
    /* box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35); */
  }
  @media (max-width: 990px) {
    .header{
      background-color: #3C79F5;
      color: white;
    }
    .ic{
      width: 30px;
      height: 30px;
    }
    .menu-icon{
      background-color: transparent;
      color: white;
    }
    .ic{
      background-color: transparent;
      color: white;
    }
    .dash{
      color: white !important;
      background-color: transparent;
      /* font-size: larger !important; */
      font-weight: 600 !important;
    }
    .header-right{
      background-color: #3C79F5 !important;
      color: white !important;
    }
    .searchDiv{
      background-color: #3C79F5 !important;
      color: white !important;
    }
    /* .search{
      background-color: #3C83F9 !important;
      color: white !important;
    } */
    .Headericon{
      background-color: #3C79F5 !important;
      color: white !important;
    }
    .sch{
      display: none !important;
    }
    .eandne{
      flex-direction: column !important;
    }
    .charts{
      flex: 2;
    }
  }
  .dash{
    font-size: 24px;
    color: black;
    font-weight: 700;
  }
  .menu-icon {
    display: none;
  }
  /* End Header  */
  
  /* Sidebar  */
  
  /* 
  
  
  
  */
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 30px 0px 30px;
    margin-bottom: 30px; */
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    list-style-type: none;
    
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    background-color:#3C79F5;
  }
  
  .sidebar-list-item:hover {
    background-color:#3C79F5;
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: white;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
    background-color: #3C79F5;
  }
  
  /* End Sidebar  */
  
  
  /* Main  */  
  .main-container {
    display: flex;
    flex-direction: column;
    grid-area: main;
    overflow-y: auto;
    height: 100%;
    padding: 20px 20px;
    /* background-color: #f8faff; */
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    flex: 0.5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    /* margin: 15px 0; */
    margin-bottom: 15px;

  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
    -moz-box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
    box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
  }
  .card-inner{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
  }
  .card_inner_text{
    background-color: white;
   align-self: flex-start;
  }

  .percenti{
    font-size:10px;
    color: #3cc952;
    background-color: #e9f9eb;
    border-radius: 34px;
  }

  .twop{
    width:189px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .iconref{
    background-color: #3C79F5;
    color: white;
  }
  /* .card:first-child {
    background-color: #2962ff;
  }
  
  .card:nth-child(2) {
    background-color: #ff6d00;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .card:nth-child(4) {
    background-color: #d50000;
  } */
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  .top{
    color: #000;

font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
background-color: transparent;
  }
  .newDate{
    color:  #858585;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
 background-color: transparent;
  }
  .charts {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
    /* margin-top: 20px; */
    flex:1;
    flex-direction: column;
    background-color: white;
    -webkit-box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
   border-radius: 20px;
   margin-bottom: 0px;
  }
  .Act{
    font-size: 18px;
    font-weight: 700;
    color: black;
    background-color: transparent;
  }
  .date{
    font-size: 14px;
    font-weight: 400;
    color: black;
    background-color: transparent;
  }
  .info{
    flex-direction: column;
    background-color: transparent;
  }

  .tags{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
    background-color: transparent;
  }
  .guestIcon{
    color: #7FCD93;
    background-color: transparent;
  }
  .userIcon{
    color: #EE8484;
    background-color: transparent;
  }
  .guest{
    color: black;
    background-color: transparent;
    padding-right: 20px;
  }
  .user{
    color: black;
    background-color: transparent;
    padding-right: 20px;
  }
  .barChart{
    background-color: white !important;
  
  }
  .innerCharts{
    background-color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:15px;
    margin-left: 15px;
    margin-bottom: 0px;
  }
  .iconDiv{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: white;

  }

#icon1{
  border-radius: 50%;
  background-color: #7fcd93;
  color: #F8FAFF;
}

#icon2{
  border-radius: 50%;
  background-color: #DEBF85;
  color: #F8FAFF;
}

#icon3{
  border-radius: 50%;
  background-color: #eca4a4;
  color: #F8FAFF;
}

#icon4{
  border-radius: 50%;
  background-color: #a9b0e5;
  color: #F8FAFF;
}

  .bottomDiv{
    display: grid;
    /* align-items: center;
    justify-content: center; */
    flex: 1;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 15px;
    height: 200px;
    color: black;
    padding: 8px;
  }
  .pieChart{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
    max-height: 200px;
    overflow-y: hidden;
  }
  .innerPie{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 0;
    background-color: transparent;
  }
  .mainGraph{
    border:2px solid red;
    position: relative;
    left:10px
  }
  .tees{
    color: #98D89E;
  }
  .pants{
     color: #F6DC7D;
  }
  .hoodies{
    color: #EE8484;
  }
  .PieDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .detailDiv{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }

  .comp3{
    display: flex;
    margin-bottom: 15px;
    
  }
  .comp2{
    display: flex;
    flex-direction: column;
  }
  .Add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    -webkit-box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
box-shadow: 2px 0px 20px -3px rgba(0,0,0,0.24);
max-height: 200px;
   border-radius: 20px;
  }
  .plusDiv{
    border-radius: 50%;
    height: 76px;
    width: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999CA0;
    background-color: #F5F5F5;
  }
  .plus{
    background-color: transparent;
  }
  .addProfile{
    background-color: transparent;
    color: #9e9ea4;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  .product{
    font-size: 14px;
    background-color: transparent;
    margin-bottom: 5px;
  }
  .percent{
    font-size: 12px;
    background-color: transparent;
  }
  /* End Main  */
  
  
  /* Medium <= 992px */
    
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
    /* .charts{
      height: 300px;
    } */
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      color: #3C79F5;
      background-color: transparent;
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
    .bottomDiv{
      display: flex;
      flex-direction: column;
      height: 600px;
    }
    .innerCharts{
      height: 400px;
    }
    .Add{
      height: 300px;
      display: flex;
      flex-direction: column;
      /* align-items: start; */
    }
    .card{
      height: 90px;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }
  #sidebar {
    grid-area: sidebar;
    height: 90%;
    /* background-color: #263043; */
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 85%;
    height: 94%;
    margin: auto;
    border-radius: 20px;
    background-color: #3C79F5;
    margin-left: 20px;
  }
  .title{
    font-size: 36px;
    font-weight: 700;
    color: white;
    padding-bottom: 22px;
  }
  .help{
    padding-top: 200px;
    font-size: 14px;
    color: white;
  }
  .contact{
    font-size: 14px;
    padding-top: 10px;
    margin-top: 0;
    color: white;
  }
  .search{
    color: black;
    background-color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    border: 0.2px solid black;
  }
  .sch{
    background-color: white;
    color: black;
    padding: auto;
  }
  .Headericon{
    color: black;
    background-color: transparent;
    padding: 0 8px;
  }
  .header-right{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .search-icon {
    margin-left: -30px; /* Adjust the margin as needed to control the icon's position */
  }
  .userHome{
    /* padding: 20px; */
    width: 75%;
    height: 75%;
  }
  .userName{
    flex: 1.5;
    color: #000;

font-feature-settings: 'clig' off, 'liga' off;
font-family: Figtree;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px
  }
  .searchDiv{
    background-color: white;
    border-radius: 20px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .userHome{
    display: flex;
    flex-direction: column;
  }
  .eandne{
    display: flex;
    flex-direction: row;
    flex: 2;
    color:  #231F20;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Figtree;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
text-decoration-line: underline;
align-items: center;
justify-content: space-between;
  }
  .lastIcon{
    width: 15px;
    height: 15px;
    /* color: green; */
    border-radius: 50%;
  }
  .wIcon{
    color: #3CC952;
    background-color: #E9F9EB;
    
    border-radius: 50%;
  }
  .eIcon{
    color: #5C33CF;
    background-color: #EBE6F9;
    border-radius: 50%;
  }
  .iIcon{
    color: #FF4E64;
    background-color: #FFE9EC;
    border-radius: 50%;
  }
  .yIcon{
    color: #FF0000;
    background-color: #FFE9E9;
    border-radius: 50%;
  }
  .phoneNo,.emailAdd,.youtube,.instagram{
    display: flex;
    align-items: center;
    
  }
  .wDiv,.eDiv,.iDiv,.yDiv{
   padding-right: 12px;
  }
  
  .essential{
    display: flex;
    flex-direction: column;
  }
  .non{
   display: flex;
   flex-direction: column;
  }