.signin-container{
    display: flex;
     height: 100vh;
    /* width: 100vw; */ 
    /* background-color: #F8FAFF; */
}
.sideDiv{
   display: flex;
   flex-direction: column;
    flex: 1;
    background-color: #3C79F5;
    transform: skewX(-10deg); /* Adjust the angle of the tilt */
    transform-origin: top; /* Set the origin at the top */
}
.Logo{
    flex: 1;
    background-color: #3C79F5;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.board{
    flex: 1;
    background-color: #3C79F5;
    color: white;
    /* margin-top: 30px;
    margin-left: 250px; */
    margin: auto;
    font-weight: bold;
    font-size: 60px;
}
.icons{
    flex: 1;
    background-color: #3C79F5;
    margin: auto;
}
.github{
    background-color: #3C79F5;
    color: white;
    font-size: large;
    margin-left: 20px ;
}
.formDiv{
    /* margin-top: 300px; */
    /* border:2px solid blue; */
    flex: 1;
    display: flex;
    align-items: center;
    padding: auto;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 200px; */
    margin: auto;
    /* background-color: #F8FAFF; */
}

.h1{
  /* border:2px solid rgb(26, 85, 136); */
  padding-left: 30px;
}
.signinForm{
    /* border:2px solid red; */
    display: flex;
    flex: 1;
    padding: auto;
    flex-direction: column;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}
.google{
    background-color: white;
    margin-left: 12px;
    outline: none;
    border: none;
    height: 35px;
    width: 185px;
    margin-bottom: 10px;
    border-radius: 10px;
   display: flex;
   align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 0.1px solid black;
}

.text{
    margin-bottom: 10px;
    padding-left: 30px;
}
.apple{
        border-radius: 10px;;
        background-color: white;
        margin-left: 12px;
        outline: none;
        border: none;
        height: 35px;
        width: 185px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 0.1px solid black;
        margin-left: -2px;
}


.p{
    margin-bottom: 5px;
    background-color: white;
    font-size: 15px;
    margin-bottom: 5px;
}
.image{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.whiteDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    /* height: 300px;
    width:400px */
    height: 100%;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
}
.parae{
    background-color: white;
    margin-left: -290px;
    margin-bottom: 5px;
    font-size: 15px;
}
.parap{
    background-color: white;
    margin-left: -310px;
    margin-bottom: 5px;
    font-size: 15px;
}
.email{
    border-radius: 10px;
    height: 40px;
    width:80%;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding-left: 9px;
    background-color: #F5F5F5;
}
.password{
    border-radius: 10px;
    height: 40px;
    width:80%;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding-left: 9px;
    background-color: #F5F5F5;
}
.forgot{
    color: #3C79F5;
    background-color: white;
    margin-left: -250px;
}
.Submit{
    border-radius: 10px;
    height: 40px;
    width:80%;
    background-color: #3C79F5;
    color: white;
    outline: none;
    border: none;
    margin-bottom: 10px;
    margin-top: 15px;
}
.register{
    cursor: pointer;
    color: #3C79F5;
}
.signup{
    /* margin-top: 10px;
    margin-left: -60px; */
    margin-top: 13px;
    margin:13px auto;
}

/* This targets devices with a maximum width of 767 pixels (common for phones) */
@media (max-width: 1100px) {
    .signin-container{
        display: flex;
        flex-direction: column;
         height: 100vh;
        /* width: 100vw; */ 
    }

    .sideDiv{
         display: flex;
         flex-direction: row;
        background-color: #3C79F5;
         /* border:2px solid red; */
         align-items: center; /* Center items horizontally */
         transform: skewX(0deg); /* Adjust the angle of the tilt */
         transform-origin: top;
     }
    
     .Logo{
       background-color: #3C79F5;
        color: white;
        margin-left: 50px;
        font-weight: bold;
        font-size: 30px;
    }

     .board{
       background-color: #3C79F5;
        color: white;
        margin: auto;
        font-weight: bold;
        font-size: 50px;
        /* border:5px solid black; */
    }
    
    .icons{
        background-color: #3C79F5;
        margin: auto;
        /* border:2px solid green; */
    }
    .github{
        background-color: #3C79F5;
        color: white;
        font-size: large;
        margin-left: 20px ;
    }

     .formDiv{
        /* margin-top: 300px; */
        flex: 6;
        display: flex;
        align-items: center;
        padding: 50px 0px;
        justify-content: center;
        flex-direction: column;
        /* margin-left: 200px; */
        margin: auto;
   }
  
   .signinForm{
    display: flex;
    align-items: center;
    flex: 1;
    padding: auto;
    flex-direction: column;
    
}

   .whiteDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    /* height: 300px;
    width:400px */
    height: 50%;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
}
.signup{
     margin-top: 20px;
}
  }
  